.logo {
  width: auto;
  max-height: 80px;
  @media (max-width: 1440px) {
    width: auto;
    max-height: 75px;
  }
  @media (max-width: 768px) {
    max-height: 60px;
    max-width: 90%;
  }

  @media (max-width: 576px) {
    max-height: 50px;
    max-width: 100px;
  }
}
.hstyle {
  background-color: #0e2954;
}
// Navigation Links
.navitem {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 16px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
  }
}
// Hamburger Menue
.customtoggler {
  background: transparent;
  border: none;
  @media (max-width: 576px) {
    width: 25px;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}
